h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.num-input {
    max-width: 100px;
    /* margin-right: 10px;
    margin-left: 10px; */
}

th {
    margin-right: 10px;
}

td {
    position: relative;
    border-bottom: 1px solid lightgrey;
}

.changed {
    background: lightgrey;
}

.var-cell {
    max-width: 140px;
    overflow-wrap: normal;
}

.num-cell {
    max-width: 140px;
    overflow-wrap: normal;
    /* margin-right: 50px; */
}

.reset {
    max-width: 100px;
    bottom: 0px;
}

.switch {
    max-width: 50px; 
    bottom: 0px;
}